@font-face {
    font-family: monopoly;
    src: url(../fuentes/monopoly.ttf);
}


*{
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


body{
    background: url(../imagenes/fondo.jpg);
    background-size:cover;
    background-color: rgba(255,255,255,0.8);
    background-blend-mode: lighten;
    background-repeat: no-repeat;
    background-position: center;
    display: grid;

    grid-template-columns: auto;
    grid-template-rows: 100px 700px auto;

    grid-template-areas: "header" "main" "footer";
}


.header{
    grid-area: header;
    background-color: #ff4122;

    color: white;
    padding: 0px 20px;
}
.header__logo{
    display: inline-block;
    position: absolute;
    width: 80px ;
}
.header__titulo{
    line-height: 100px;
    font-weight: bolder;
    letter-spacing: 2px;
    text-align: center;
    font-family: monopoly;
}

/*MAIN*/

.main{
    grid-area: main;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 200px;

    gap: 40px;
}

.main__titulo{
    font-size: 35px;
    font-family: monopoly;
    letter-spacing: 2px;
    color: #ff4122;
    border-bottom: 3px solid #ff4122;
}

.main__boton{
    text-decoration: none;
    background-color: #ff4122;
    color: white;
    width: 40%;
    max-width: 400px;
    padding: 10px 20px;
    text-align: center;
    font-weight: bold;
    border-radius: 50px;


    transition: 500ms all;
}


.main__boton:hover{
    background-color: white;
    color:#ff4122;
    border: 1px solid #ff4122;
}

.footer{
    background-color: #ff4122;
    grid-area: footer;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
}

.footer__titulo{
    font-weight: bolder;
    letter-spacing: 2px;
    text-align: start;
    font-family: monopoly;
    margin-bottom: 25px;
}
.footer__subtitulo{
    margin-bottom: 10px;
}
.footer__div p{
    margin-bottom: 10px;
}


@media(min-width: 600px){
    .footer{

        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}