@font-face {
    font-family: monopoly;
    src: url(../fuentes/monopoly.ttf);
}

/*VENTANAS EMERGENTES*/
.ventana__emergente{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #ffffffd0;
    display: flex;
    visibility:visible;
    opacity:1;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    transition:.5s;
    z-index: 1099;
}
.ventana__titulo{
    color: #fff;
    background-color: #ff2d11;
    width: 100%;
    text-align: center;
    font-family: monopoly;
    padding: 20px 0px;
    letter-spacing: 2px;
}

.ventana__imagenes{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
}
.ventana__imagen{
    width: 23%;
    object-fit: fill;
}
.ventana__botones{
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.ventana__boton{
    background-color: #ff2d11;
    color: #fff;
    text-align: center;
    text-decoration: none;
    padding: 13px 100px;
    font-size: 20px;
    border-radius: 40px;
    font-family: monopoly;
    letter-spacing: 1px;
    transition: .5s;
    cursor: pointer;
}
.ventana__boton:hover{
    background-color: #fff;
    color: #ff3f22;
}
.ventana__parrafo{
    font-weight: bold;
    font-family: monopoly;
    letter-spacing: 1px;
    font-size: 25px;
}

/*PROPIEDADES VENTANA*/
.comprar_propiedad_servicio {
}
.comprar_propiedad_servicio .ventana__boton{
    padding: 10px 20px;
}
.pagar{
    display:none
}

/*DADO VENTANA*/
.imagen__dado{
    width: 18%;
    object-fit: fill;
}

/*PROPIEDADES DE UN JUGADOR VENTANA*/
.ventana__propiedades{
    visibility: hidden;
    opacity:0;
}
.propiedades{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:20px;
    padding: 10px 20px;
    overflow: scroll;
}
.propiedades h1{
    color:#ff3f22;
    font-family:monopoly;
    font-weight: bold;
    letter-spacing: 2px;
}
.propiedades__contenedor img{
    width:300px;
}
.propiedades__cabecera{
    color:#ff3f22;
}