@font-face {
    font-family: monopoly;
    src: url(../fuentes/monopoly.ttf);
}

/*VENTANAS EMERGENTES*/
.ventana__emergente{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #ffffffd0;
    display: flex;
    visibility:visible;
    opacity:1;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    transition:.5s;
    z-index: 1099;
    overflow: auto;
}
.ventana__titulo{
    color: #fff;
    background-color: #ff2d11;
    width: 100%;
    text-align: center;
    font-family: monopoly;
    padding: 20px 0px;
    letter-spacing: 2px;
}
.ventana__subtitulo{
    color: #ff2d11;
    font-family: monopoly;
    letter-spacing: 2px;
    font-size: 30px;
    padding: 20px 0px;
}
.ventana__imagenes{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
}
.ventana__imagen{
    width: 23%;
    max-width:170px;
    object-fit: fill;
}
.ventana__botones{
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.ventana__boton{
    background-color: #ff2d11;
    color: #fff;
    text-align: center;
    text-decoration: none;
    padding: 13px 100px;
    font-size: 20px;
    border-radius: 40px;
    font-family: monopoly;
    letter-spacing: 1px;
    transition: .5s;
    cursor: pointer;
}
.ventana__boton:hover{
    background-color: #fff;
    color: #ff3f22;
}

.comprar_propiedad_servicio .ventana__boton{
    max-width:150px;
}

.ventana__parrafo{
    font-weight: bold;
    font-family: monopoly;
    letter-spacing: 1px;
    font-size: 25px;
}
.ventana__cerrar{
    background-color: #ff2d11;
    position: fixed;
    top: 0;
    right: 0;
    margin: 10px;
    color: #fff;
    width: 40px;
    height: 40px;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    border-radius: 50px;
}
/*PROPIEDADES VENTANA*/
.comprar_propiedad_servicio {
}
.comprar_propiedad_servicio .ventana__boton{
    padding: 10px 20px;
}
.pagar{
    display:flex;
}
/*VENTANA CREAR PARTIDA*/
#crear__partida__ventana{
    visibility: hidden;
    opacity:0;
}

/*DADO VENTANA*/
.imagen__dado{
    width: 18%;
    max-width:130px;
    object-fit: fill;
}

/*PROPIEDADES DE UN JUGADOR VENTANA*/
.ventana__propiedades{
    visibility: hidden;
    opacity:0;
}
.propiedades{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:20px;
    padding: 10px 20px;
    overflow: scroll;
    width:100%;
    height:100%

}
.propiedades h1{
    color:#ff3f22;
    font-family:monopoly;
    font-weight: bold;
    letter-spacing: 2px;
}
.propiedades__contenedor img{
    width:250px;
}
.propiedades__contenedor{
    width: 90%;
    display:flex;
    flex-direction:row;
}

.propiedades__cabecera{
    color:#ff3f22;
}

.propiedades__texto{
    color:#d1001f;
    font-family: monopoly;
    font-weight: bold;
    letter-spacing: 2px;
    font-size:38px;
    text-align:center;
}

/*VENTANA DE RECONEXION*/

.ventana__usuario__desconectado h1{

}