<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<main class="main " th:fragment="tablero">
    <div class="tablero">
        <!-- INTERIOR DE LA TABLA -->
        <div class="tabla__interior">
            <h1 class="interior__titulo">Monopoly</h1>
            <div class ="interior_cartas_propiedades">
            </div>
            <div class="interior_cartas_comodines">
            </div>
        </div>

        <!-- PROPIEDADES -->
        <div class="tablero__inicio" id = "1">
            <h2>GO</h2>
            <i class="fa-solid fa-arrow-left"></i>
        </div>
        <div class="tablero__casa casa__celeste celeste1" id="2">
            <div class="franja"></div>
            <h2>Calle Balcarce</h2>
            <p class="precio">$100</p>

        </div>
        <div class="tablero__casa casa__celeste celeste2" id="3">
            <div class="franja"></div>
            <h2>Avenida Belgrano</h2>
            <p class="precio">$100</p>

        </div>
        <div class="tablero__tren tren1" id="4">
            <h2>Tren 1</h2>
            <img th:src="@{/imagenes/tren.png}" alt="tren">
            <p class="precio">$500</p>
        </div>
        <div class="tablero__casa casa__celeste celeste3" id="5">
            <div class="franja"></div>
            <h2>Calle Juramento</h2>
            <p class="precio">$100</p>
        </div>
        <div class="tablero__carcel" id="6">
            <div class="carcel">
                <img th:src="@{/imagenes/carcel.png}" alt="carcel">
            </div>
            <h3>Visita</h3>
            <h3>Visita</h3>

        </div>
        <div class="tablero__casa casa__rosa rosa1" id="7">
            <div class="franja"></div>
            <h2>Avenida 9 de julio</h2>
            <p class="precio">$200</p>
        </div>
        <div class="tablero__casa casa__rosa rosa2" id="8">
            <div class="franja"></div>
            <h2>Calle Aribeño</h2>
            <p class="precio">$200</p>
        </div>
        <div class="tablero__servicio servicio_luz" id="9">
            <h2>Servicio Luz</h2>
            <img th:src="@{imagenes/luz.png}" alt="lu">
            <p class="precio">$250</p>
        </div>
        <div class="tablero__casa casa__rosa rosa3" id="10">
            <div class="franja"></div>
            <h2>Calle Mendoza</h2>
            <p class="precio">$200</p>
        </div>
        <div class="tablero__descansar" id="11">
            <h2>Descansar</h2>
            <img th:src="@{/imagenes/descansar.png}" alt="descansar">
        </div>
        <div class="tablero__casa casa__roja roja1" id="12">
            <div class="franja"></div>
            <h2>Avenida de Mayo</h2>
            <p class="precio">$400</p>

        </div>
        <div class="tablero__casa casa__roja roja2" id="13">
            <div class="franja"></div>
            <h2>Avenida Rivadavia</h2>
            <p class="precio">$400</p>
        </div>
        <div class="tablero__tren tren2" id="14">
            <h2>Tren 2</h2>
            <img th:src="@{/imagenes/tren.png}" alt="tren">
            <p class="precio">$500</p>
        </div>
        <div class="tablero__casa casa__roja roja3" id="15">
            <div class="franja"></div>
            <h2>Florencio Varela</h2>
            <p class="precio">$400</p>
        </div>
        <div class="tablero__policia" id="16">
            <h2>Ir Carcel</h2>
            <img th:src="@{/imagenes/policia.png}" alt="policia">
        </div>
        <div class="tablero__casa casa__verde verde1" id="17">
            <div class="franja"></div>
            <h2>Avenida Corrientes</h2>
            <p class="precio">$600</p>
        </div>
        <div class="tablero__casa casa__verde verde2" id="18">
            <div class="franja"></div>
            <h2>Avenida Florida</h2>
            <p class="precio">$600</p>
        </div>
        <div class="tablero__servicio servicio_agua" id="19">
            <h2>Servicio Agua</h2>
            <img th:src="@{/imagenes/agua.png}" alt="agua">
            <p class="precio">$350</p>
        </div>
        <div class="tablero__casa casa__verde verde3" id="20">
            <div class="franja"></div>
            <h2>Avenida Santa Fé</h2>
            <p class="precio">$600</p>
        </div>
    </div>


    <!-- Parte central con los billetes y propiedades -->
    <div class="container">
        <div class="row">
            <!-- Billetes, cambiar la cantidad de billetes dinamicamente-->
            <div class="col-md-4 p-0 billetes">
                <h2 class="text-center">Billetes en posesion</h2>
                <div class="row">
                    <div class="col p-0">
                        <img th:src="@{/imagenes/bill 10.jpg}" alt="Billete de $1" />
                        <p class="text-center m-0">X</p>
                    </div>
                    <div class="col p-0">
                        <img th:src="@{/imagenes/bill 10.jpg}" alt="Billete de $5" />
                        <p class="text-center m-0">X</p>
                    </div>
                    <div class="col p-0">
                        <img th:src="@{/imagenes/bill 10.jpg}" alt="Billete de $10" />
                        <p class="text-center m-0">X</p>
                    </div>
                    <div class="col p-0">
                        <img th:src="@{/imagenes/bill 10.jpg}" alt="Billete de $20" />
                        <p class="text-center m-0">X</p>
                    </div>
                    <div class="col p-0">
                        <img th:src="@{/imagenes/bill 10.jpg}" alt="Billete de $50" />
                        <p class="text-center m-0">X</p>
                    </div>
                    <div class="col p-0">
                        <img th:src="@{/imagenes/bill 10.jpg}" alt="Billete de $100" />
                        <p class="text-center m-0">X</p>
                    </div>
                    <div class="col p-0">
                        <img th:src="@{/imagenes/bill 10.jpg}" alt="Billete de $500" />
                        <p class="text-center">X</p>
                    </div>
                </div>
                <hr />
                <h4 class="text-center">Total: $X</h4>
            </div>

            <!-- Propiedades -->
            <div class="col-md-6 p-0 propiedades-container">
                <div class="container p-0">
                    <h2 class="text-center">Propiedades</h2>
                    <div class="row">
                        <div class="col propiedades p-0">
                            <!-- Ejemplo, reemplazar con logica para agregar mas propiedas dinamicamente-->
                            <img th:src="@{/imagenes/mediterranean ave.png}" class="card-img-top" alt="Propiedad" />
                            <img th:src="@{/imagenes/mediterranean ave.png}" class="card-img-top" alt="Propiedad" />
                            <img th:src="@{/imagenes/mediterranean ave.png}" class="card-img-top" alt="Propiedad" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>