<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="tablero_ventanas_emergentes">
    <!--Ventana cuando tira el jugador-->
    <div th:if="${dado} and ${propiedad == null} and ${pagarMensaje == null} and ${bancarrota == null}" class="ventana__emergente dado__ventana">
        <h1 class="ventana__titulo">El Jugador 1 tiro el dado!!</h1>
        <img th:src="@{${dado}}" alt="dado" class="ventana__imagen imagen__dado">
        <a id="aceptar_dado" class="ventana__boton aceptar_boton">Aceptar</a>
    </div>

    <div th:if="${propiedad != null}" class="ventana__emergente comprar_propiedad_servicio">
        <h1 class="ventana__titulo">El Jugador 1 tiro el dado!!</h1>
        <img th:src="@{${dado}}" alt="dado" class="ventana__imagen imagen__dado">
        <h2 class="" th:text="${propiedad.nombre}+' Disponible !!'"> </h2>
        <img class="ventana__imagen" th:src="@{${propiedad.imagen}}" alt="propiedad">
        <p class="ventana__parrafo" th:text="'Precio:$'+${propiedad.precio}"></p>
        <div class="ventana__botones">
            <a  id="adquirir__boton" class="ventana__boton">Comprar</a>
            <a class="ventana__boton cancelar_propiedad_boton aceptar_boton">Cancelar</a>
        </div>
    </div>

<!--Ventana para mostrar el pago -->
    <div th:if="${pagarMensaje}" class="ventana__emergente pagar">
        <h1 class="ventana__titulo" th:text="${pagarMensaje.descripcionQuienPaga}"></h1>
        <div class="ventana__imagenes">
            <img th:src="@{${dado}}" alt="dado" class="ventana__imagen imagen__dado">
            <img class="ventana__imagen" th:src="@{/imagenes/monopolyman.svg}" alt="monopolyman">
        </div>
        <p class="ventana__parrafo" th:text="${pagarMensaje.descripcionQuienRecibe}"></p>
        <a class="ventana__boton mensaje_boton aceptar_boton">Aceptar</a>
    </div>

    <!--Ventana del Chat-->
    <div class="ventana__emergente chat__ventana">
        <div class="boton__cerrar boton__chat__cerrar">
            <i class="fa-solid fa-xmark"></i>
        </div>
        <div class="chat">
            <div class="chat__cabecera">
                <h1>Chat Grupal</h1>
            </div>
            <div class="chat__mensajes">
            </div>
            <div class="chat__input">
                <input type="text" name="mensaje" id="inputMensaje">
                <button type="submit" id="enviarMensaje"><i class="fa-regular fa-message"></i></button>
            </div>
        </div>
    </div>

    <!--Ventana para mensajes u errores -->
    <div th:if="${mensaje}" class="ventana__emergente ventana__mensaje">
        <h1 class="ventana__titulo" th:text="${mensaje}"></h1>
        <img class="ventana__imagen" th:src="@{/imagenes/monopolyman.svg}" alt="monopolyman">
        <a class="ventana__boton boton__error mensaje_boton aceptar_boton">Aceptar</a>
    </div>

    <!--Ventana para mostrar la bancarrota-->
    <div th:if="${bancarrota}" class="ventana__emergente ventana__mensaje">
        <h1 class="ventana__titulo" th:text="${bancarrota}"></h1>
        <img class="ventana__imagen" th:src="@{/imagenes/monopolyman.svg}" alt="monopolyman">
        <a class="ventana__boton boton__error mensaje_boton volver_boton">Regresar</a>
    </div>

    <!--Ventana para ver propiedades de un jugador -->
    <div class="ventana__emergente ventana__propiedades">
        <div class="boton__cerrar boton__propiedades__cerrar">
            <i class="fa-solid fa-xmark"></i>
        </div>
        <div class="propiedades">
            <div class="propiedades__cabecera">
                <h1>Mis Propiedades</h1>
            </div>
            <div th:if="${!usuarioPropiedadesActual.isEmpty()}"  class="propiedades__contenedor">
                <div th:each="usuarioPropiedad:${usuarioPropiedadesActual}">
                    <div class="propiedad__div" th:if="${usuarioPropiedad.estaHipotecado != true}">
                        <img th:src="@{${usuarioPropiedad.propiedad.imagen}}" alt="propiedad">
                        <button class="ventana__boton">Hipotecar</button>
                    </div>
                    <div class="propiedad__div" th:if="${usuarioPropiedad.estaHipotecado == true}">
                        <img th:src="@{${usuarioPropiedad.propiedad.imagen}}" class="propiedad__hipotecada" alt="propiedad">
                        <button class="ventana__boton">Deshipotecar</button>
                    </div>
                </div>
            </div>
            <div th:if="${usuarioPropiedadesActual.isEmpty()}" class="propiedades__contenedor">
                <p class="propiedades__texto">No tiene propiedades</p>
            </div>
        </div>
    </div>

    <div th:if="${usuarioActual.estadoActividad.name().equals('ACTIVO') && hayAlgunInactivo == true}" class="ventana__emergente ventana__usuario__desconectado">
        <h1 class="ventana__titulo">Hay un usuario Desconectado</h1>
        <img class="ventana__imagen" th:src="@{/imagenes/monopolyman.svg}" alt="monopolyman">
        <p class="ventana__parrafo">Esperando a que el usuario se reconecte....</p>
    </div>

    <div th:if="${usuarioActual.estadoActividad.name().equals('INACTIVO')}" class="ventana__emergente ventana__usuario__desconectado">
        <h1 class="ventana__titulo">Usted se desconecto</h1>
        <img class="ventana__imagen" th:src="@{/imagenes/monopolyman.svg}" alt="monopolyman">
        <a href="#" class="ventana__boton boton__reconectarse">Reconectarse</a>
    </div>



    <!--Ventana para selecccionar con quien intercambiar-->
    <div class ="ventana__emergente ventana__intercambio">
        <div class="lista__usuarios">
            <div class="boton__cerrar boton__intercambio__cerrar">
                <i class="fa-solid fa-xmark" id="close-popup"></i>
            </div>
            <h1>Realiza tu intercambio!!</h1>
            <div>
                <table>
                    <thead>
                    <tr>

                        <th>Usuario</th>
                        <th>Nombre Usuario</th>
                        <th>Saldo</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="usuarioJugando : ${usuariosJugando}">
                        <td>
                            <img th:src="@{${usuarioJugando.usuario.imagenPerfil}}" alt="foto">
                        </td>
                        <td th:text="${usuarioJugando.usuario.nombreUsuario}"></td>
                        <td th:text="'$'+${usuarioJugando.saldo}"></td>
                        <td th:if="${usuarioJugando.id != usuarioActual.id}">
                            <a class="boton__intercambiar">
                                <input type="hidden" id="idUsuarioIntercambiar" th:value="${usuarioJugando.id}">
                                Intercambiar
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <!--Ventana emergente Emisor de un intercambio-->
    <div th:if="${esEmisor}" class="ventana__emergente ventana__emisor">
            <div th:if="${estadoIntercambio.equalsIgnoreCase('EN_PROCESO')}" class="div__ventana__emergente">
                <h2>Esperando respuesta del negocio propuesto al usuario</h2>
                <img th:src="@{/imagenes/monopoly_manface.svg}" alt="manface">
            </div>
            <div th:if="${estadoIntercambio.equalsIgnoreCase('ACEPTADO')}" class="div__ventana__emergente">
                <h2>¡¡SU NEGOCIO HA SIDO ACEPTADO!!</h2>
                <img th:src="@{/imagenes/monopoly_manface.svg}" alt="manface">
                <a class="ventana__continuar">Continuar</a>
            </div>
            <div th:if="${estadoIntercambio.equalsIgnoreCase('RECHAZADO')}" class="div__ventana__emergente">
                <h2>¡¡HA SIDO RECHAZADO!!</h2>
                <img th:src="@{/imagenes/monopoly_manface.svg}" alt="manface">
                <a class="ventana__continuar">Continuar</a>
            </div>
    </div>
    <!--Ventana emergente de Receptor de un intercambio-->

    <div th:if="${esReceptor!=null && esReceptor == true && estadoIntercambio != null && estadoIntercambio.equalsIgnoreCase('EN_PROCESO')}" class="ventana__emergente" id="ventana__receptor">
        <!-- Pop-up de intercambio de propiedades -->
        <div id="popup" class="popup">
            <div class="header2">
                <h2 class="titulo"> ¿Aceptas el intercambio? </h2>
            </div>
            <div class="content">
                <div class="column">
                    <div class="player-info">
                        <div class="profile">
                            <img th:src="@{${usuarioActual.usuario.imagenPerfil}}" alt="Perfil Jugador 1" class="profile-img">
                            <span class="nombre" th:text="${usuarioActual.usuario.nombreUsuario}"></span>
                            <div class="money">
                                <input type="number" th:value="${intercambio.saldoReceptor}" pattern="[0-9]{4}" th:max="${usuarioActual.saldo}" placeholder="$">
                            </div>
                        </div>
                        <div class="selected-houses">
                            <div class="house-slot" style="background-color:#ffffff" th:each="intercambioPropiedad: ${intercambioPropiedades}">
                                    <div th:if="${intercambioPropiedad.propiedadReceptor != null}" class="franja" th:style="${'background-color:'+ intercambioPropiedad.propiedadReceptor.color}"></div>
                                    <div th:if="${intercambioPropiedad.propiedadReceptor != null}">
                                        <p class="house-parrafo" th:text="${intercambioPropiedad.propiedadReceptor.nombre}"></p>
                                    </div>
                            </div>
                            <!--
                            <div class="house-slot">
                                    <div class="franja" style="background-color:#000000"></div>
                                    <div>
                                        <p class="house-parrafo">Casa 1</p>
                                    </div>
                            </div>-->
                        </div>
                    </div>
                </div>
                <div class="column" id="jugador2Columna">
                    <div class="player-info">
                        <div class="profile">
                            <img th:src="@{${intercambio.emisor.usuario.imagenPerfil}}" alt="Perfil Jugador 1" class="profile-img">
                            <span class="nombre" th:text="${intercambio.emisor.usuario.nombreUsuario}"></span>
                            <div class="money">
                                <input type="number" pattern="[0-9]{4}" th:value="${intercambio.saldoEmisor}" placeholder="$">
                            </div>
                        </div>
                        <div class="selected-houses">
                            <div class="house-slot"  th:each="intercambioPropiedad: ${intercambioPropiedades}">
                                <div th:if="${intercambioPropiedad.propiedadEmisor != null}" class="franja" th:style="${'background-color:'+ intercambioPropiedad.propiedadEmisor.color}"></div>
                                <div th:if="${intercambioPropiedad.propiedadEmisor != null}">
                                    <p class="house-parrafo" th:text="${intercambioPropiedad.propiedadEmisor.nombre}"></p>
                                </div>
                            </div>

                            <!--
                            <div class="house-slot" data-player="jugador1" data-slot="2">
                                    <div class="franja" style="background-color:#000000"></div>
                                    <div>
                                        <p class="house-parrafo">Casa 1</p>
                                    </div>
                            </div>-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="buttons">
                <button id="aceptar_intercambio">Aceptar</button>
                <button id="rechazar_intercambio">Cancelar</button>
            </div>
        </div>
    </div>

    <!--Ventana de victorio-->
    <div th:if="${hayGanador}" class="ventana__emergente ventana__ganador">
        <h2>Eres el ganador !!</h2>
        <a href="#" id="continuarGanador">Continuar</a>
    </div>
    <!--Ventana para mostrar TU TURNO-->
    <!--Ventana para mensajes u errores
    <div th:if="${partidaEnJuego.turnoJugador.id == usuarioActual.usuario.id}" class="ventana__emergente" id="ventana__tuturno">
        <p class="ventana__parrafo" style="font-size:40px; text-align: center">TU TURNO !!</p>
    </div>
-->
</div>
</body>
</html>