<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Editar Perfil</title>
    <link rel="stylesheet" th:href="@{/css/perfil.css}">
</head>
<body>

<div class="actualizar-perfil">

    <form action="#" th:action="@{/editar-perfil}" method="POST" th:object="${datosPerfil}" >

        <!-- Espacio para la imagen -->
        <img id="update_image" th:src="@{/imagenes/fondo.jpg}">

        <!-- Mensaje de éxito o error -->
        <div th:if="${mensaje}" class="success-message" th:text="${mensaje}"></div>
        <div th:if="${error}" class="mensaje-error" th:text="${error}"></div>

        <!-- Campos de entrada -->
        <div class="flex">
            <div class="inputBox">
                <span>Nombre de usuario :</span>
                <input th:field="*{nombre}" type="text" id="actualizar-nombre" name="actualizar-nombre" placeholder="UsuarioX" class="box">
                <span>Tu email :</span>
                <input th:field="*{email}" type="email" id="actualizar_email" name="actualizar_email" placeholder="usuarioX@gmail.com" class="box">
                <span>Actualiza tu foto:</span>
                <input type="file" id="actualizar_imagen" name="actualizar_imagen" accept="image/jpg, image/jpeg, image/png" class="box">
            </div>
            <div class="inputBox">

                <input type="hidden" id="old_pass" name="old_pass">
                <span>Actual contraseña:</span>
                <input th:field="*{contraseniaActual}" type="password" id="update_pass" name="update_pass" placeholder="Contraseña actual" class="box">
                <span>Nueva contraseña :</span>
                <input th:field="*{contraseniaNueva}" type="password" id="new_pass" name="contraseniaNueva" placeholder="Nueva contraseña" class="box">
                <span>Confirmar contraseña :</span>
                <input th:field="*{repiteContraseniaNueva}" type="password" id="confirm_pass" name="repiteContraseniaNueva" placeholder="confirmar nueva contraseña" class="box">


            </div>
        </div>
        <input type="submit" value="Guardar cambios" name="cambiar_perfil" class="btn">
        <a href="" class="delete-btn" th:href="@{/perfil}">Volver</a>
    </form>
</div>
</body>
</html>