<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <title>Monopoly</title>
</head>

<body>
    <header class="header">
        <img th:src="@{/imagenes/monopoly.png}" class="header__logo">
        <h1 class="header__titulo">MONOPOLY</h1>
    </header>

    <main class="main">
        <div class="fondo-form">
            <h2 class="main__titulo">INICIAR SESIÓN</h2>
            <form th:action="@{/ir-menu}" class="container" method="POST">
                <div class="flex">
                    <div class="inputBox">
                        <span>Ingresar correo electrónico:</span>
                        <input type="email" id="email" placeholder="usuarioX@gmail.com" class="box" required/>
                    </div>
                    <div class="inputBox">
                        <span>Ingresar contraseña:</span>
                        <input type="password" id="pass" name="pass" placeholder="Contraseña" class="box">
                    </div>
                </div>
                <input type="submit" value="Acceder" name="login" class="main__boton">
            </form>
            <a id="ir-a-registrarme" th:href="@{/ir-registro}">Registrarme</a>
        </div>
    </main>

    <footer class="footer">
        <div class="footer__div">
            <h2 class="footer__titulo">MONOPOLY</h2>
            <h3 class="footer__subtitulo">Integrantes</h3>
            <p>Gavagnin Lucas Daniel</p>
            <p>Pessino Milagros</p>
            <p>Aruquipa Alan</p>
            <p>Vargas Mariano Luis</p>
            <p>Vargas Franco</p>
        </div>
        <div class="footer__div">
            <h3 class="footer__subtitulo">Materia</h3>
            <p>Taller Web I</p>
            <h3 class="footer__subtitulo">Universidad</h3>
            <p>Universidad Nacional de la Matanza</p>
        </div>
    </footer>
</body>
</html>