<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title>Monopoly</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}" />

    <!-- Custom style -->
    <link rel="stylesheet" th:href="@{/css/main.css}" />
  </head>
  <body>
    <!-- Parte superior con la imagen del tablero de Monopoly -->
    <div class="container-fluid bg-light py-4 text-center">
      <img th:src="@{/imagenes/tablero.png}" class="img-fluid" id="tablero" alt="Tablero de Monopoly" />
    </div>

    <!-- Parte central con los billetes y propiedades -->
    <div class="container my-4">
      <div class="row">
        <!-- Billetes, cambiar la cantidad de billetes dinamicamente-->
        <div class="col-md-12">
          <h2 class="text-center">Billetes en posesion</h2>
          <div class="row">
            <div class="col">
              <img th:src="@{/imagenes/bill 10.jpg}" alt="Billete de $1" />
              <p class="text-center">Cantidad: X</p>
            </div>
            <div>
              <img th:src="@{/imagenes/bill 10.jpg}" alt="Billete de $5" />
              <p class="text-center">Cantidad: X</p>
            </div>
            <div>
              <img th:src="@{/imagenes/bill 10.jpg}" alt="Billete de $10" />
              <p class="text-center">Cantidad: X</p>
            </div>
            <div>
              <img th:src="@{/imagenes/bill 10.jpg}" alt="Billete de $20" />
              <p class="text-center">Cantidad: X</p>
            </div>
            <div>
              <img th:src="@{/imagenes/bill 10.jpg}" alt="Billete de $50" />
              <p class="text-center">Cantidad: X</p>
            </div>
            <div>
              <img th:src="@{/imagenes/bill 10.jpg}" alt="Billete de $100" />
              <p class="text-center">Cantidad: X</p>
            </div>
            <div>
              <img th:src="@{/imagenes/bill 10.jpg}" alt="Billete de $500" />
              <p class="text-center">Cantidad: X</p>
            </div>
          </div>
          <hr />
          <h4 class="text-center">Total: $X</h4>
        </div>
        <!-- Propiedades -->
        <div class="col-md-6">
          <div class="container">
            <h2 class="text-center">Propiedades</h2>
            <div class="row">
              <div class="col">
                <div class="card">
                  <!-- Ejemplo, reemplazar con logica para agregar mas propiedas dinamicamente-->
                  <img th:src="@{/imagenes/mediterranean ave.png}" class="card-img-top" alt="Propiedad" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" th:src="@{webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>
  </body>
</html>
