<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title>Monopoly</title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}" />
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.2/css/all.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.2/css/sharp-thin.css">
    <link rel="stylesheet" th:href="@{/css/main.css}" />
    <link rel="stylesheet" th:href="@{/css/monopoly.css}" />
    <link rel="stylesheet" th:href="@{/css/tablero.css}">
    <link rel="stylesheet" th:href="@{/css/ventanas_emergentes.css}">
    <link rel="stylesheet" th:href="@{/css/chat.css}">
    <link rel="stylesheet" th:href="@{/css/botones_pantalla.css}">
    <link rel="stylesheet" th:href="@{/css/monopoly_perfil.css}">

  </head>
  <body>
    <!-- Barra de navegacion -->
    <header th:replace="fragments/monopoly_header :: header">
    </header>

    <!-- Tablero -->
    <main th:replace="fragments/monopoly_tablero :: tablero"></main>

    <!--Botones en la pantalla-->
    <div th:replace="fragments/monopoly_botones :: tablero_botones"></div>

    <!--Perfiles jugadores-->
    <div th:replace="fragments/monopoly_perfiles :: tablero_perfiles"></div>

    <!-- Ventana Comprar / Anular Propiedad o Servicio -->
    <div th:replace="fragments/monopoly_ventanas_emergentes :: tablero_ventanas_emergentes"></div>

    <!--Scripts JS para el monopoly-->
    <script>
      /*Extraigo el atributo "posicion" del ModelAndView
      */
      let posicion = 0;

      /*Ubico al jugador en el casillero*/
      let casilla = document.getElementById(posicion);
      /*Creo al jugador con sus divs correspondientes*/
      const jugadorElemento = document.createElement("div");
      jugadorElemento.classList.add("jugador");
      jugadorElemento.innerHTML = `
             <div class="rueda rueda1"></div>
                <div class="rueda rueda2"></div>
                <div class="rueda rueda3"></div>
                <div class="rueda rueda4"></div>
                <div class="techo">
             </div>
      `;
      /*Lo inserto en dentro de la casilla*/
      casilla.insertAdjacentElement("beforeend", jugadorElemento);
    </script>

    <script th:src="@{/js/main.js}" type="module"></script>
    <script src="https://cdn.jsdelivr.net/npm/@stomp/stompjs@7.0.0/bundles/stomp.umd.min.js"></script>
    <script th:src="@{/js/webSocketChatMonopoly.js}" th:usuario-nombre="${usuarioActual.usuario.nombreUsuario}"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" th:src="@{webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>

  </body>
</html>
