<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title>Monopoly</title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}" />
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.2/css/all.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.2/css/sharp-thin.css">
    <link rel="stylesheet" th:href="@{/css/main.css}" />
    <link rel="stylesheet" th:href="@{/css/monopoly.css}" />
    <link rel="stylesheet" th:href="@{/css/tablero.css}">
    <link rel="stylesheet" th:href="@{/css/ventanas_emergentes.css}">
    <link rel="stylesheet" th:href="@{/css/chat.css}">
    <link rel="stylesheet" th:href="@{/css/botones_pantalla.css}">
    <link rel="stylesheet" th:href="@{/css/monopoly_perfil.css}">
    <link rel="stylesheet" th:href="@{/css/intercambioPropiedad.css}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

  </head>
  <body>
    <!-- Barra de navegacion -->
    <header th:replace="fragments/monopoly_header :: header">
    </header>

    <!-- Tablero -->
    <main th:replace="fragments/monopoly_tablero :: tablero"></main>

    <!--Botones en la pantalla-->
    <div th:replace="fragments/monopoly_botones :: tablero_botones"></div>

    <!--Perfiles jugadores-->
    <div th:replace="fragments/monopoly_perfiles :: tablero_perfiles"></div>

    <!-- Ventana Comprar / Anular Propiedad o Servicio -->
    <div th:replace="fragments/monopoly_ventanas_emergentes :: tablero_ventanas_emergentes"></div>


        <div class="ventana__emergente ventana__intercambio__propiedades">
          <!-- Pop-up de intercambio de propiedades -->
          <div id="popup" class="popup">
            <div class="header2">
              <h2 class="titulo"> Intercambio de Casas </h2>
              <div class="boton__cerrar boton__hacerintercambio__cerrar">
                <i class="fa-solid fa-xmark" id="close-popup"></i>
              </div>
            </div>

            <div class="content">
              <div class="column">
                <div class="player-info">
                  <div class="profile">
                    <input type="hidden" th:value="${usuarioActual.id}" id="emisorId">
                    <img th:src="@{${usuarioActual.usuario.imagenPerfil}}" alt="Perfil Jugador 1" class="profile-img">
                    <span class="nombre" th:text="${usuarioActual.usuario.nombreUsuario}"></span>
                    <div class="money">
                      <input id="saldoEmisor" type="number" pattern="[0-9]{4}" th:max="${usuarioActual.saldo}" placeholder="$">
                    </div>
                  </div>
                  <div class="selected-houses">
                    <div class="house-slot" data-player="jugador1" data-slot="1"></div>
                    <input class="propiedadId" id="idPropiedadEmisorUno" type="hidden" value="">
                    <div class="house-slot" data-player="jugador1" data-slot="2"></div>
                    <input class="propiedadId" id="idPropiedadEmisorDos" type="hidden" value="">
                  </div>
                  <div class="house-options">
                    <div data-player="jugador1" class="house-div" th:each="usuarioPropiedad:${usuarioPropiedadesActual}">
                      <input class="idPropiedad" type="hidden" th:value="${usuarioPropiedad.propiedad.id}">
                      <div class="franja" th:style="'background-color:'+${usuarioPropiedad.propiedad.color}"></div>
                      <div>
                        <p class="house-parrafo" th:text="${usuarioPropiedad.propiedad.nombre}+' $'+${usuarioPropiedad.propiedad.precio}">Casa $400</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="column" id="jugador2Columna">

              </div>
            </div>
            <div class="buttons">
              <button id="exchange-button">Intercambiar</button>
              <button id="cancel-button">Cancelar</button>
            </div>
          </div>
        </div>





    <!--Scripts JS para el monopoly-->
    <script th:src="@{/js/monopoly.js}" th:datos-propiedades-usuarios="${datosPropiedadesUsuariosJSON}"></script>
    <script th:src="@{/js/jugador.js}" th:jugadores="${usuariosJSON}"></script>
    <script th:src="@{/js/main.js}" type="module"></script>
    <script th:src="@{/js/intercambio_propiedades.js}" type="module"></script>
    <script src="https://cdn.jsdelivr.net/npm/@stomp/stompjs@7.0.0/bundles/stomp.umd.min.js"></script>
    <script th:src="@{/js/webSocketMonopoly.js}" th:partida-id="${partidaEnJuego.id}" th:usuario-nombre="${usuarioActual.usuario.nombreUsuario}" th:usuario-id="${usuarioActual.usuario.id}" th:usuario-partida-id="${usuarioActual.id}" th:propiedad-id="${propiedad != null ? propiedad.id : ''}"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" th:src="@{webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>
  </body>
</html>
