<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registro - Monopoly Online</title>

  <!-- Boostrap core css
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>
   -->
  <!-- custom style
  <link rel="stylesheet" th:href="@{/css/main.css}"/>
  -->
  <link rel="stylesheet" th:href="@{/css/stylesRegistro.css}">
  </head>


<body>
<div class="container">
  <div class="color"></div>
  <h2>Registro - Monopoly Online</h2>
  <form th:action="@{/login}" method="post">
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" name="nombre" required>
    <label for="apellido">Apellido:</label>
    <input type="text" id="apellido" name="apellido" required>
    <label for="dni">DNI:</label>
    <input type="text" id="dni" name="dni" required>
    <label for="usuario">Usuario:</label>
    <input type="text" id="usuario" name="usuario" required>
    <label for="contrasena">Contraseña:</label>
    <input type="password" id="contrasena" name="contrasena" required>
    <label for="confirmar_contrasena">Repetir Contraseña:</label>
    <input type="password" id="confirmar_contrasena" name="confirmar_contrasena" required>
    <label for="fecha_nacimiento">Fecha de Nacimiento:</label>
    <input type="date" id="fecha_nacimiento" name="fecha_nacimiento" required>
    <input type="submit" value="Registrarse">
  </form>
</div>

<script type="text/javascript" th:src="@{webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>
</body>
</html>