<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.2/css/all.css">
    <link rel="stylesheet" th:href="@{/css/ventanas_emergentes.css}">
    <link rel="stylesheet" th:href="@{/css/jugar.css}">
    <title>Jugar</title>
</head>

<body>
<header class="header">
    <img src="imagenes/monopoly.png" class="header__logo">
    <h1 class="header__titulo">MONOPOLY</h1>
</header>

<main class="main">
    <div class="main__div__titulo">
        <h2 class="main__titulo">LISTA DE PARTIDAS
        </h2>
        <a id="crear__partida__boton" class="partida__boton agregar__boton">
            <i class="fa-solid fa-plus"></i>
        </a>
    </div>

    <table class="partidas">
        <thead class="partidas__encabezado">
        <tr>
            <th>NOMBRE</th>
            <th>JUGADORES</th>
            <th>CREADOR</th>
            <th>UNETE</th>
        </tr>
        </thead>
        <tbody class="partidas__registros">
        <tr th:each="partida : ${partidasCreadas}">
            <td th:text="${partida.nombre}"></td>
            <td th:text="${partida.numeroJugadores}"></td>
            <td th:text="${partida.creador.nombreUsuario}"></td>
            <td>
                <a href="" class="partida__boton">
                    <i class="fa-thin fa-arrow-right-to-bracket"></i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</main>

<footer class="footer">
    <div class="footer__div">
        <h2 class="footer__titulo">MONOPOLY</h2>
        <h3 class="footer__subtitulo">Integrantes</h3>
        <p>Integrante 1</p>
        <p>Integrante 2</p>
        <p>Integrante 3</p>
        <p>Integrante 4</p>
        <p>Integrante 5</p>
    </div>
    <div class="footer__div">
        <h3 class="footer__subtitulo">Materia</h3>
        <p>Taller Web I</p>
        <h3 class="footer__subtitulo">Universidad</h3>
        <p>Universidad Nacional de la Matanza</p>
    </div>
</footer>

<!-- Popup crear partida -->
<div class="ventana__emergente" id="crear__partida__ventana">
    <a href="#" class="ventana__cerrar" id="cerrar__partida__ventana">
        <i class="fa-solid fa-xmark"></i>
    </a>
    <h2 class="ventana__subtitulo">Crear Partida</h2>
    <form th:action="@{/crearPartida}" id="formularioCrearPartida" class="formulario__crear__partida" method="POST" th:object="${partida}">
        <label for="nombre">Nombre de la partida</label>
        <input type="text" name="nombre" placeholder="Nombre de la partida" th:field="*{nombre}" id="nombre">
        <label for="numero">Numero maximo de jugadores</label>
        <input type="number" name="numero_jugadores" placeholder="2" id="numero" min="2" max="4" th:field="*{numeroJugadores}">
        <button type="submit" id="botonCrearPartida">Crear</button>
    </form>
</div>

<script th:src="@{/js/main.js}" type="module"></script>
<script src="https://cdn.jsdelivr.net/npm/@stomp/stompjs@7.0.0/bundles/stomp.umd.min.js"></script>
<script>
    const stompClient = new StompJs.Client({
        brokerURL: 'ws://localhost:8080/spring/wspartida',
        headers:{
            idClienteStomp: [[${usuario.}]]
        }
    });

</script>
<script th:src="@{/js/webSocketPartida.js}"></script>

</body>
</html>