<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Perfil</title>
    <link rel="stylesheet" th:href="@{/css/perfil.css}">
</head>
<body>
<header class="header">
    <img th:src="@{/imagenes/monopoly.png}" class="header__logo">
    <h1 class="header__titulo">MONOPOLY</h1>
</header>

<div class="container">
    <div class="perfil">
        <img th:src="@{/imagenes/fondo.jpg}" alt="Default Avatar">
        <h3 th:text="${nombre}">UsuarioX</h3>
        <h3 th:text="${id}">ID:12345</h3>
        <span>Victorias: </span>
        <h3 th:text="${victorias}">0</h3>
        <a th:href="@{/editar-perfil}" class="btn">Editar Perfil</a>
        <a th:href="@{/ir-menu}" class="delete-btn">Volver</a>
    </div>
</div>

<footer class="footer">
    <div class="footer__div">
        <h2 class="footer__titulo">MONOPOLY</h2>
        <h3 class="footer__subtitulo">Integrantes</h3>
        <p>Gavagnin Lucas Daniel</p>
        <p>Pessino Milagros</p>
        <p>Aruquipa Alan</p>
        <p>Vargas Mariano Luis</p>
        <p>Vargas Franco</p>
    </div>
    <div class="footer__div">
        <h3 class="footer__subtitulo">Materia</h3>
        <p>Taller Web I</p>
        <h3 class="footer__subtitulo">Universidad</h3>
        <p>Universidad Nacional de la Matanza</p>
    </div>
</footer>

</body>
</html>


