<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.2/css/all.css">

  <link rel="stylesheet" th:href="@{/css/espera.css}">
  <title>Espera</title>
</head>

<body>
<header class="header">
  <img src="imagenes/monopoly.png" class="header__logo">
  <h1 class="header__titulo">MONOPOLY</h1>
</header>

<main class="main sala__espera">
  <h2 class="sala__titulo">PARTIDA BROS</h2>
  <h3 class="sala__subtitulo">SALA DE ESPERA</h3>
  <div>
    <div class="sala__jugador">
      <h4><i class="fa-solid fa-user"></i> ElPro1234</h4>
    </div>
    <div class="sala__jugador">
      <h4><i class="fa-solid fa-user"></i> ElMata3000</h4>
    </div>
  </div>
  <a href="" class="sala__boton">
    Empezar
  </a>
</main>

<footer class="footer">
  <div class="footer__div">
    <h2 class="footer__titulo">MONOPOLY</h2>
    <h3 class="footer__subtitulo">Integrantes</h3>
    <p>Integrante 1</p>
    <p>Integrante 2</p>
    <p>Integrante 3</p>
    <p>Integrante 4</p>
    <p>Integrante 5</p>
  </div>
  <div class="footer__div">
    <h3 class="footer__subtitulo">Materia</h3>
    <p>Taller Web I</p>
    <h3 class="footer__subtitulo">Universidad</h3>
    <p>Universidad Nacional de la Matanza</p>
  </div>
</footer>
</body>

</html>